@import "theme2.scss";

body {
  background: #afe7f5;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-top: 50px;

  .box {
    width: 100px;
    height: 100px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: $border;
    border-radius: $borderRadius;
    font-family: $primaryFont;

    &--base {
      background: $baseColor;
      color: white;
    }

    &--important {
      background: $importantColor;
      font-family: $secondaryFont;
    }

    &--warning {
      background: $warningColor;
    }

    &--shadowed {
      box-shadow: $boxShadow;
    }

  }

  .text {
    color: blue;
    
    &--primary {
      font-family: $primaryFont;
    }

    &--secondary{
      font-family: $secondaryFont;
    }
  }
}