$baseColor: #1f1f6b;
$importantColor: #8c8cee;
$warningColor: #4544eb;
$border: solid 1px grey;
$borderRadius: 20%;
$boxShadow: 16px 10px 5px 0px rgba(0, 0, 0, 0.72);
$primaryFont: Tahoma;
$secondaryFont: Courier;