$baseColor: #6b231a;
$importantColor: #ee8d81;
$warningColor: #eb4d38;
$border: solid 1px grey;
$borderRadius: 20px;
$boxShadow: -16px 10px 5px 0px rgba(0, 0, 0, 0.72);
$primaryFont: Verdana;
$secondaryFont: Arial;